.sc-item-container{
	padding: 1em;
	margin-bottom: 2em;
	background: white;
	min-height: 200px;
	box-shadow: var(--my-shadow-style);
	-webkit-transition: 0.2s;
	transition: 0.2s;
	border-radius: 10px;
}

.sc-item-title{
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	line-height: 1.5em;
	font-size: 1em;
	font-weight: bolder;
	color : rgb(19, 90, 156);
}

.sc-item-thumbnail{
	width: 90%;
	text-align: justify;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	line-height: 1.5em;
}

.sc-item-details{
	text-align: justify;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	line-height: 1.5em;
	font-size: 0.75em
}