extends includes/globalLayout.pug
block main
	link(rel="stylesheet", href="css/globalContent.css")
	div(class='main-content-header') 
		h1 About
	div(class='main-content-body')
		p Some words about the business

block splash
	div(style="height:var(--nav-bar-height);")

block aside
	div(class='content-header')
		h1 Side content header
	div(class='content-body')
		p side content