extends includes/globalLayout.pug
block main
	link(rel="stylesheet", href="/assets/css/globalContent.css")
	link(rel="stylesheet", href="/assets/css/about.css")
	div(class='main-content-header') 
		h1 About
	div(class='main-content-body')
		p(class='hell') #{aboutRow.value}

block splash
	div(style="height:var(--nav-bar-height);")

block aside
	div(class='content-header')
		h1 Side content header
	div(class='content-body')
		p side content