extends includes/globalLayout.pug
block main
	link(rel="stylesheet", href="css/globalContent.css")
	div(class='main-content-header') 
		h1 Contact
	div(class='main-content-body')
		p You can contact us using all convetionnal communication channels.


block aside
	div(class='content-header')
		h1 Side content header
	div(class='content-body')
		p side content