doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title Website
	body
		link(rel="stylesheet", href="/assets/css/globalLayout.css")
		nav(class='nav-bar')
			a(href="/")
				img(class="logo" src="/assets/images/soluAccess-logo.jpg")

			ul
				li 
					a(href="/") Home
				li
					a(href="/About") About
				li
					a(href="/Products") Products
				li
					a(href="/Contact") Contact
			div
				p(class="slogan") Accessibilité et Aménagement 
		div(class='splash')
			section
				block splash
		main(class='main')
			section
				block main
		aside(class='aside')
			section
				block aside
		br
		hr(style='clear: both;')
		footer(class='footer-bar')
			p(style="float:right;") Copyright &copy; SoluAccess 2019
		script(src="/assets/js/slideshow.js")