
{% extends "layout.html" %}
{% block main_content %}
<div class="container" style="margin-bottom: 3rem;">

	<div class="col-12" style="width:100%;">
		<h1 style="text-align: center">Contactez-nous</h1>
	</div>
	<div class="col-lg-3 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-6 col-md-10 col-sm-10 col-xs-10 contact">
		<table style="width:100%;"">
			<tr class="main-container">
				<td><a href=tel:0320549481 class="fa fa-phone"></a></td>
				<td><a href=tel:0320549481>03 20 54 94 81</a></td>
			</tr>
			<tr class="main-container">
				<td><a href=mailto:tanguyrevel@libelille.com class="fa fa-envelope"></a></td>
				<td><a href=mailto:tanguyrevel@libelille.com>tanguyrevel@libelille.com</a></td>

			</tr>
		</table>
	</div>
	<div class="col-lg-3 col-md-1 col-sm-1 col-xs-1"></div>
</div>
{% endblock main_content %}

{% block news_content %}

{% endblock news_content %}