/****************************************************************************/
/*******************************  MAIN CONTENT  *****************************/
/****************************************************************************/
.main-content-header{
	background: white;
	padding: 1em;
	margin: 1em;
	box-shadow: var(--my-shadow-style);
	text-align: center;
	border-radius: var(--angle-roundness);
}

.main-content-body{
	padding: 1em;
	background: var(--light-bg-color);
	border-radius: var(--angle-roundness);
}



/****************************************************************************/
/*******************************  SIDE CONTENT  *****************************/
/****************************************************************************/
.side-content-header{
	background: white;
	padding: 1em;	
	margin: 1em;
	margin-left: 0;
	text-align: center;
	border-radius: var(--angle-roundness);
}

.side-content-body{
	padding: 1em;
	background: white;
	margin-right: 1em;
	max-height: 800px;
    	overflow-y: scroll;
	border-radius: var(--angle-roundness);
}